.table__menu {
  width: 100%;
  max-width: 270px;
  margin-right: 20px;
  padding: 15px 15px 30px;
  border-radius: 4px;
  background-color: #3e4041;
  color: #f0f0f0;
}

.table__tabs {
  margin-top: 20px;
  padding-bottom: 10px;
  padding-right: 6px;
  height: auto;
}

.table__tabs-item {
  position: relative;
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  padding: 8px 35px 8px 10px;
  align-items: center;
  border-radius: 4px;
  color: #f0f0f0;
  font-size: 12px;
  line-height: 133%;
  text-decoration: none;
  cursor: pointer;
}

.table__tabs-item.is-link {
  padding-left: 0;
  padding-right: 0;
}

.table__tabs-item svg {
  width: 30px;
}

.table__tabs-item.is-link svg {
  width: 22px;
}

.table__tabs-item-check {
  position: absolute;
  display: flex;
  align-items: center;
  right: 12px;
}

.table__tabs-item-check svg {
  width: auto;
}

.table__tabs-item.table__tabs-item--category {
  padding-left: 8px;
}

.table__tabs-item.active {
  background-color: #0f1011;
  font-weight: 500;
}

.table__categories {
  padding-bottom: 10px;
  padding-right: 6px;
  margin-bottom: 20px;
  border-bottom: 2px solid #6b6e70;
}

.table__categories-wrapper {
  margin-top: 10px;
}

.table__links {
  margin-top: 20px;
}