@import url('@vueform/slider/themes/default.css');
@import url('../../../node_modules/modern-normalize/modern-normalize.css');

@import url('./components/loader.css');
@import url('./components/scrollbar.css');

@import url('./tabs/tabs.css');
@import url('./tabs/table.css');

img {
  max-width: 100%;
}

.underline {
  text-decoration: underline;
}

.btn-primary.sm {
  min-width: 120px;
  padding-top: 8px;
  padding-bottom: 8px;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  font-family: Inter, sans-serif;
  font-size: 14px;
}

.btn-primary {
  min-width: 200px;
  padding: 16px 10px;
  border-radius: 3px;
  background-color: #e92f22;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  text-align: center;
}

.table-wrapper {
  display: flex;
  min-height: 100vh;
  padding-top: 45px;
  padding-bottom: 45px;
  align-items: center;
  background-color: #1b1f22;
}

.table-wrapper > .container {
  max-width: 1400px;
  width: 95%;
  margin: 0 auto;
}

.vue-select {
  border: none;
}

.vue-select-header {
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  background-color: white;
}

.vue-input {
  display: inline-block;
  padding-top: 5px;
  padding-right: 30px;
  padding-bottom: 5px;
  padding-left: 10px;
  font-size: 11px;
}

.table__values-sep {
  width: 8px;
  height: 1px;
  background-color: black;
}

:root {
  --slider-handle-height: 20px;
  --slider-handle-width: 20px;
}

.slider-target {
  margin-top: 12px;
}

.slider-horizontal {
  height: 9px;
}

.slider-connect {
  background-color: #C53125;
}

.slider-handle {
  top: -6px !important;
}

.slider-horizontal .slider-handle {
  border: 1px solid #91979A;
  box-shadow: none;
}

.slide-enter-active,
.slide-leave-active {
  transition: height 0.5s ease;
}

.slide-enter-from,
.slide-leave-to {
  height: 0;
}

.vcp__body {
  position: absolute;
  z-index: 1000;
  overflow: hidden;
}

.vcp__body-content {
  padding-bottom: 8px;
  padding-top: 8px;
}

.table__filters-radio-check {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: auto;
  height: auto;
  margin-top: 0px;
  margin-left: 0px;
  border-style: none;
  border-radius: 0%;
  background-image: url('https://assets.website-files.com/61b8adc853887c7e8a0e1d78/61f1c77857c5d99587ee3c08_radio.svg');
  background-position: 0% 50%;
  background-size: 22px 22px;
  background-repeat: no-repeat;
}

.table__filters-radio-check.w--redirected-checked {
  border-style: none;
  background-image: url('https://assets.website-files.com/61b8adc853887c7e8a0e1d78/61f1c77831a917e42b13e355_radio-check.svg');
}