@import url('@vueform/slider/themes/default.css');

.table__tb .table__th-item:nth-child(2n + 1) {
  background-color: white;
}
.vcp__header-icon {
  display: none;
}
.table__arrow {
  transition: all 200ms ease;
}
.table__filters {
  display: flex;
  gap: 8px;
}
@media screen and (max-width: 479px) {
  .table__filters {
    flex-direction: column;
  }
}
.table__dd.price .vcp__body {
  width: 100%;
  text-align: center;
}

.table__dd-list.list {
  width: 220px;
  margin-top: 0px;
}
.table__arrow[disabled="true"] {
  opacity: 0.5;
  cursor: not-allowed;
}
.vue-select {
  border: none;
}
.table__dd-list {
  display: block;
  position: relative;
}
.vue-select-header {
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  background-color: white;
}
.vue-input {
  display: inline-block;
  padding-top: 5px;
  padding-right: 30px;
  padding-bottom: 5px;
  padding-left: 10px;
  font-size: 11px;
}
.table__dd-list-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  border-top: 1px solid #EDEDED;
  margin-top: 15px;
}
.table__dd-list-values {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 20px;
}
.table__values-sep {
  width: 8px;
  height: 1px;
  background-color: black;
}
.table__values-item {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #C4C4C4;
  padding: 2px 7px;
}
.table__values-item > span {
  font-size: 8px;
  color: #9B9B9B;
}
.table__values-sep {
  width: 20%;
  text-align: center;
}
.table__dd-list-btns > .btn-primary {
  font-size: 9px;
  min-width: 80px;
  line-height: 12px;
}
:root {
  --slider-handle-height: 20px;
  --slider-handle-width: 20px;
}
.slider-target {
  margin-top: 12px;
}
.slider-horizontal {
  height: 9px;
}
.slider-connect {
  background-color: #C53125;
}
.slider-handle {
  top: -6px !important;
}
.slider-horizontal .slider-handle {
  border: 1px solid #91979A;
  box-shadow: none;
}

.slide-enter-active,
.slide-leave-active {
  transition: height 0.5s ease;
}

.slide-enter-from,
.slide-leave-to {
  height: 0;
}

.vcp__body {
  position: absolute;
  z-index: 1000;
  overflow: hidden;
}

.vcp__body-content {
  padding-bottom: 8px;
  padding-top: 8px;
}

.table__tabs {
  padding-right: 6px;
}

/*width*/
.table__tabs::-webkit-scrollbar,
.table__content-info::-webkit-scrollbar {
  width:10px;
}

/*track*/
.table__tabs::-webkit-scrollbar-track,
.table__content-info::-webkit-scrollbar-track {
  background:#C4C4C4;
  border-radius: 31px;
  margin-bottom: 15px;
}

/*thumb*/
.table__tabs::-webkit-scrollbar-thumb,
.table__content-info::-webkit-scrollbar-thumb {
  border-radius: 31px;
  background-color: #F6F6F6;
}

.table__tabs-item {
  background-position: 10px 50%;
  background-size: auto;
  background-repeat: no-repeat;
}
a.table__tabs-item.v2 {
	background-image: none;
}

/* =========== Tab icons =========== */

.table__tabs-item[data-shape="Round"] {
	background-image: url('https://uploads-ssl.webflow.com/61b8adc853887c7e8a0e1d78/61f300b41fb86f2c19576c17_table-round.svg');
}
.table__tabs-item.active[data-shape="Round"] {
	background-image: url('https://uploads-ssl.webflow.com/61b8adc853887c7e8a0e1d78/61f300b47a97ea0499142800_table-round-white.svg');
}

.table__tabs-item[data-shape="Square"] {
  background-image: url('https://uploads-ssl.webflow.com/61b8adc853887c7e8a0e1d78/61f300b47dd0687945841ba3_table-square.svg');
}
.table__tabs-item.active[data-shape="Square"] {
  background-image: url('https://uploads-ssl.webflow.com/61b8adc853887c7e8a0e1d78/61f300b3a0cd0e3121227d7f_table-square-white.svg');
}

.table__tabs-item[data-shape="Rectangular"] {
  background-image: url('https://uploads-ssl.webflow.com/61b8adc853887c7e8a0e1d78/61f300b385472b53f5e5ee9b_table-rectungular.svg');
}
.table__tabs-item.active[data-shape="Rectangular"] {
  background-image: url('https://uploads-ssl.webflow.com/61b8adc853887c7e8a0e1d78/61f300b4b4cb7d7f5bb4097e_table-rectungular-white.svg');
}

.table__tabs-item[data-shape="D-Shape"] {
  background-image: url('https://uploads-ssl.webflow.com/61b8adc853887c7e8a0e1d78/61f300b4717f4045b12a1973_table-d-shaped.svg');
}
.table__tabs-item.active[data-shape="D-Shape"] {
  background-image: url('https://uploads-ssl.webflow.com/61b8adc853887c7e8a0e1d78/61f300b6857ace1292db5c63_table-d-shaped-white.svg');
}

.table__tabs-item[data-shape="Oval"],
.table__tabs-item[data-shape="Oval Flat"],
.table__tabs-item[data-shape="Oval Taper"],
.table__tabs-item[data-shape="Pointed Oval"],
.table__tabs-item[data-shape="Flat Oval"] {
  background-image: url('https://uploads-ssl.webflow.com/61b8adc853887c7e8a0e1d78/61f300b4a26e66678eab422b_table-oval.svg');
}
.table__tabs-item.active[data-shape="Oval"],
.table__tabs-item.active[data-shape="Oval Flat"],
.table__tabs-item.active[data-shape="Oval Taper"],
.table__tabs-item.active[data-shape="Pointed Oval"],
.table__tabs-item.active[data-shape="Flat Oval"] {
  background-image: url('https://uploads-ssl.webflow.com/61b8adc853887c7e8a0e1d78/61f300b4433e0a46d94aa0ea_table-oval-white.svg');
}

/* =========== /Tab icons =========== */

/* =========== Loader =========== */

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: black;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}
.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}
.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}
.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}
.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}
.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}
.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}
.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}
.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}
.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}
.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}
.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}
@keyframes lds-default {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

/* =========== /Loader =========== */
